.main-page-form {
  background: url(../../public/img/form.png) center center/cover;
  color: white;
  padding-bottom: 180px;
  .title-section {
    text-align: center;
  }
  .title-description {
    text-align: center;
  }
}
