.slider-main-page {
  @media (min-width: 992px) {
    background: white url(../../public/img/slider-main-bg.jpg) left bottom no-repeat;
  }

  background-repeat: no-repeat;
  background-size: 94%;
  padding: 80px 0;
  padding-bottom: 50px;
  // background-position: center center;

  @media (max-width: 992px) {
    .slider-hotels {
      flex-direction: column;
    }
  }
  .btn-arrows {
    float: right;
  }
  .title-section {
    float: left;
  }
  .slide-text {
    .orange-btn {
      margin-bottom: 30px;
      @media (min-width: 992px) {
        margin-top: -25px;
      }
    }
    @media (max-width: 992px) {
      order: 1;
    }
    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 140%;
      /* or 35px */

      color: #1e1e1e;
    }
    &-description {
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 170%;

      color: #1e1e1e;

      margin-bottom: 30px;
    }
  }
  .slick-dots {
    cursor: pointer;
    margin-bottom: 20px;
    .slick-active {
      .slide-text-title {
        color: #d09870;
      }
    }
  }
}

.under-title {
  /* Комфортно — всегда */

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #d09870;
  @media (max-width: 992px) {
    // text-align: center;
  }
}

.prev-btn svg {
  height: 16px;
  width: 37px;
}
.next-btn svg {
  height: 16px;
  width: 37px;
  margin-left: 28px;
}

// .btn-arrows {
//   float: right;
// }
// .title-section {
//   float: left;
// }

.slider-main-page-restourants {
  .btn-arrows {
    float: right;
  }
  .title-section {
    float: left;
  }
  .slick-list {
    margin: 0 -10px;
  }
  .slick-slide {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    img {
      display: block;
      margin: auto;
    }
    .borders {
      position: absolute;
      border: 1px solid white;
      opacity: 0.15;
      left: 8px;
      bottom: 8px;
      top: 8px;
      right: 8px;
    }
    .slider-bars-overlay {
      position: absolute;
      // display: flex;
      // flex-direction: column;
      // justify-content: flex-end;
      padding: 42px 20px 42px 25px;
      padding-top: 130px;
      color: white;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      @media (max-width: 992px) {
        max-width: 281px;
        margin: auto;
      }
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      .link {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .title {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 120%;

        color: #f8f8f8;
        margin-bottom: 8px;
      }
      .slide-text-description {
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        /* or 22px */
        font-weight: 400;

        color: #f8f8f8;
      }
    }
  }
}
