.hotel-wrapper {
  background-color: #231e1c;
  color: white;
  position: relative;
  @media (min-width: 992px) {
    &::after {
      content: " ";
      position: absolute;
      border: 1px solid #d09870;
      opacity: 0.15;
      left: 15px;
      bottom: 15px;
      top: 15px;
      right: 15px;
    }
  }
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: 528px auto;
    grid-gap: 40px;
  }
  .title-section {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .flex-next,
  .flex-prev {
    z-index: 1;
  }

  @media (min-width: 992px) {
    .flex-prev {
      margin-left: 15px;
    }
  }
  margin-bottom: 36px;
  .description-section {
    padding-right: 30px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 10px;
    position: relative;
    z-index: 1;
    @media (max-width: 992px) {
      padding: 0 15px;
      line-height: 1.3;
    }
  }
  .description {
    max-height: 128px;
    overflow: hidden;
  }
}
@media (min-width: 992px) {
  .even-items-change {
    .hotel-wrapper:nth-child(even) {
      grid-template-columns: auto 528px;
      .img-container {
        order: 2;
      }
      .description-section {
        order: 1;
        padding-left: 75px;
      }
    }
  }
}

.anonce {
  li {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 15px;
    @media (min-width: 992px) {
      margin-bottom: 0;
      display: inline-block;
      & + li {
        margin-left: 18px;
      }
    }
    img {
      margin: 0;
      vertical-align: middle;
      margin-right: 6px;
    }
  }
}

.meta-info {
  display: block;
  cursor: pointer;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #d09870;
  margin-bottom: 5px;
}

.comfort {
  @media (min-width: 500px) {
    columns: 2;
  }
  margin-bottom: 18px;
  li {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 24px */

    color: #f8f8f8;
  }
  img {
    margin: 0;
    vertical-align: middle;
    margin-right: 8px;
  }
}

.notice {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #918784;

  svg {
    vertical-align: middle;
    margin-right: 7px;
  }
  margin-bottom: 10px;
}

.bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: 992px) {
    flex-direction: column;
    align-items: flex-start;
    table + p {
    }
    pre {
      display: none;
    }
    .orange-btn {
      margin-top: 15px;
      font-size: 17px;
    }
  }

  .orange-btn {
    /* btn */

    min-width: 186px;
    min-height: 64px;
  }

  table {
    margin-right: 30px;
    tr td:first-child {
      padding-right: 35px;
    }
    tr p:first-child {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 150%;

      color: #f8f8f8;
    }
    tr p:last-child {
      font-style: normal;
      font-weight: 100;
      font-size: 16px;
      line-height: 150%;
    }
  }
}

.hotel-detail-page {
  @media (max-width: 992px) {
    .send-email {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .product {
    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: auto 528px;
      grid-gap: 0 40px;
    }
    @media (max-width: 992px) {
      display: flex;
      flex-direction: column-reverse;
    }
    .img-container {
      margin-bottom: 20px;
    }
    .bottom p {
      color: #1e1e1e;
    }
    .notice {
      margin-bottom: 40px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      display: flex;
      align-items: center;
      font-feature-settings: "pnum" on, "lnum" on;

      color: #1e1e1e;

      svg {
        path {
          fill: #1e1e1e;
        }
      }
    }
    h3 {
      font-family: Playfair Display;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 130%;
      /* identical to box height, or 39px */

      margin-bottom: 15px;
      color: #1e1e1e;
    }
    .comfort {
      margin-bottom: 40px;
      li {
        margin-bottom: 19px;
      }
    }
    .comfort li {
      color: inherit;
    }
  }
  .form {
    max-width: 992px;
    margin-bottom: 100px;
    .politics {
      max-width: 100%;
      @media (min-width: 993px) {
        margin-left: 24px;
      }
    }
    input,
    textarea {
      color: #1e1e1e;
      &::placeholder {
        opacity: 0.6;
      }
    }
  }
  .title-section {
    text-align: center;
  }
  .title-description {
    text-align: center;
  }
}
