b, strong {
	    font-feature-settings: "pnum" on, "lnum" on;
}

.events {
	background: #fff;
}

.main-page-form {
	background: url(/images/form.jpg) center center/cover;
}

.slider-main-page {
	background: #fff;
}

.footer {
	background: #2b2927;
}

.inner-header {
  background-image: url(/images/inner-bg1.jpg);
  background-position: center;
  background-size: cover;
  min-height: 478px;
}

.hotel-detail-page .title-section {
	font-family: Playfair Display;
    font-weight: bold;
    font-size: 30px;
}

.sidebar {
	z-index: 999999;
}

.slider-main-page-restourants .slick-slide .slider-bars-overlay {
  padding-top: 80px;
}

.slider-main-page-restourants .slick-slide .slider-bars-overlay .slide-text-description {
  font-weight: 600;
  color: #ffffff;
}

.desc-contaiener {
  font-size: 16px;
}

.suggestions p {
  font-size: 16px;
  margin-bottom: 2.5rem;
}

.desc-contaiener h2 {
  line-height: 1.7;
}

.date {
  display:none;
}

.sidebar a {
  padding: 10px 32px 8px 32px;
      line-height: 1.4;
  text-decoration: none;
  font-size: 18px;
  color: #f4f4f4;
  display: block;
  transition: 0.3s;
}

.inner-pages .breadcrumbs li:last-child {
  opacity: 0.7;
}

.bottom table tr p:last-child {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8;
  }
  
  .contact-info-title {
  opacity: 1;
  font-weight: 400;
  font-size: 15px;
}

.footer-nav a {
  opacity: 1;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 11px;
  margin-bottom: 20px;
}

.footer .copyright {
  max-width: 280px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  color: #ffffff;
  opacity: 1;
  font-feature-settings: "pnum" on, "lnum" on;
}

  
  .hotels-page .notice {
  position: relative;
  top: -6px;
  display: flex;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #e4e4e4;
}

.description {
  font-feature-settings: "pnum" on, "lnum" on;
}

td p {
  margin: 0;
}

td {
  padding: 0px 10px 0px 0;
  display: table-cell;
    vertical-align: top;
}

tr {
    padding: 0px 0px 10px 0;
}

table {
      margin-bottom: 10px;
}

.business-services a {
  color: #e27f04;
    font-weight: 600;
}

.bottom td {
  line-height: 1;
  font-size: 14px !important;
}

.compensate-for-scrollbar {
  margin: 0 !important;
}
.resttime {
  margin-bottom: 0;
}

.restaurant-menu-cigar {
  max-width: 539px !important;
}

.restaurant-menu {
  max-width: 635px !important;
}

.restaurant-map {
  max-width: 471px !important;
}

.hotel-detail-page h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.hotel-detail-page h2 {
  font-size: 2rem;
  font-weight: 500;
}

.event-detail-page .img-container {
	gap: 2px;
}

.bottom table tr p:first-child {
	font-size: 18px;
    font-feature-settings: "pnum" on, "lnum" on;
}

.book__container {
	margin: auto auto 100px !important;
}

.pravila ul li {
	list-style: disc;
}

.tire ul li {
	list-style: none !important;
}

.pravila{
	font-feature-settings: "pnum" on, "lnum" on;
}

.pravila ul{
	    margin: 0 0 0 20px;
}

.contacts__map img {
	margin: 0 !important;
}
/*.modal {
	padding-right: 0 !important;
}*/

/*thanks*/
.thanks {
	    font-feature-settings: "pnum" on, "lnum" on;
	}
.thanks h2 {
	 padding-top: 200px;
	}
.thanks h3 {
	    font-size: 24px;	
    }
.inst2 {
	background: #4c172b;
    border: 0;
    color: #fff;
    font-weight: 400;
    padding: 12px 24px;
    letter-spacing: 1px;
    box-shadow: 0px 0px 15.8px 4.2px rgb(0 0 0 / 23%);
    text-decoration: none;
}
.button-inst {
	margin-top:45px;
}
.button-inst a {
	padding: 0 40px 0 40px;
}
@media (max-width: 992px) {
  .thanks h2 {
	font-size: 30px;
    margin-bottom: 20px;
	padding-top:40px;
	}
	.thanks {
    text-align: center;
	}
	.thanks img {
    display: none;
	}
}
/*end of thanks*/


/*max-width: 992px*/
@media (max-width: 992px) {
  .events-page .title-section {
    margin-top: 25px;
    margin-bottom: 13px;
    } 
  .description h2 {
      line-height: 1.7;
    }
  .events-page .description {
    margin-bottom: 0px;
  }
  .bottom td {
    padding: 0;
  }
  .bottom table tr td:first-child {
    padding-right: 10px;
  }
  .header-contacts table a {
	  margin-left: 2px;
  }
}
/*end of max-width:992*/


/*min-width: 992px*/
@media (min-width: 992px) {
.hotel-wrapper .flex-prev {
    margin-left: 0;
	}
}
/*end of min-width: 992px*/