<div class="modal-container ajax-product">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6"> <img src="/img/pro1.jpg" class="img-responsive ajax-product-image" alt="" /> </div>
      <!-- /.col-md-6 -->
      <div class="col-md-6">
        <h4 class="modal-title">Комбинезон</h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor nibh eu nibh scelerisque
          malesuada. Morbi mollis eleifend turpis. Mauris consequat convallis volutpat. Integer quis erat vehicula,
          molestie nulla vel, sagittis odio. Quisque hendrerit eleifend magna, sit amet dictum odio condimentum a. Proin
          et ipsum venenatis, elementum sem convallis, pellentesque elit. Mauris congue velit porttitor dui condimentum
          porttitor. Aenean pretium suscipit ante in imperdiet. </p>
      </div> <!-- /.col-md-6 -->
    </div> <!-- /.row -->
  </div>
</div>